Repository dottxt-ai/outlines, pull requests merged in 2023-07, with the labels that each got.

#171 Parser-driven masking updates for basic "off-line" vocabulary pre-parsing
  outlines/text/parsing.py
  tests/text/test_parsing.py
Labels: text, enhancement, examples

#167 Use PyTorch instead of NumPy
  outlines/models/hf_transformers.py
  outlines/models/transformers.py
  outlines/text/generate/continuation.py
  outlines/text/generate/sequence.py
  outlines/text/masks.py
  pyproject.toml
  tests/models/test_transformers.py
  tests/text/generate/test_continuation.py
  tests/text/generate/test_integration_transfomers.py
  tests/text/generate/test_sequence.py
  tests/text/test_masks.py
Labels: enhancement

#166 Add `Integer` sequence generator
  outlines/models/tokenizer.py
  outlines/models/transformers.py
  outlines/text/generate/__init__.py
  outlines/text/generate/continuation.py
  outlines/text/generate/integer.py
  outlines/text/generate/sequence.py
  tests/text/generate/test_integer.py
  tests/text/generate/test_integration_transfomers.py
  tests/text/generate/test_sequence.py
Labels: text, enhancement

#183 Fix overview document and a type hint
  docs/source/overview.rst
Labels: bug, documentation

#187 Stop generation with `Continuation` when a specific string was generated
  outlines/text/generate/continuation.py
  outlines/text/generate/regex.py
  outlines/text/generate/sequence.py
  tests/text/generate/test_continuation.py
  tests/text/generate/test_integration_transfomers.py
Labels: text, enhancement

#195 Make sure `Continuation` and `Regex` use the correct device
  outlines/text/generate/continuation.py
  outlines/text/generate/regex.py
Labels: bug, enhancement, guided generation

#199 Clone and patch parse state in example
  examples/parsing.py
Labels: examples, guided generation

#200 Add missing requirements
  pyproject.toml
Labels: bug

#194 Convert tokens to strings before partial matching
  outlines/models/tokenizer.py
  outlines/models/transformers.py
  outlines/text/generate/regex.py
  tests/text/generate/test_regex.py
Labels: text, bug, guided generation
