Repository dottxt-ai/outlines, pull requests merged in 2023-09, with the labels that each got.

#264 Allow users to choose devices for models
  outlines/models/transformers.py
  pyproject.toml
  tests/models/test_transformers.py
  tests/text/generate/test_integration_transfomers.py
Labels: enhancement, models

#243 Escape curly braces in the regexes
  outlines/text/json_schema.py
  tests/text/test_json_schema.py
Labels: bug, guided generation

#236 Added a fix for missed match tensor size #213
  outlines/text/generate/regex.py
  tests/text/generate/test_integration_transfomers.py
Labels: text, bug, guided generation

#280 Fix missing spaces in `Tokenizer.convert_token_to_string`
  outlines/models/transformers.py
  tests/models/test_transformers.py
Labels: bug, models

#282 More HF Llama tokenizer space fixes
  outlines/models/transformers.py
  tests/models/test_transformers.py
Labels: bug, huggingface, tokenization, llama

#294 Add `py.typed` and package data information
  outlines/py.typed
  pyproject.toml
Labels: enhancement

#287 Example to generate dating app profiles- combines prompt templating with JSON generation
  examples/dating_profile.py
Labels: examples
