Repository dottxt-ai/outlines, pull requests merged in 2024-01, with the labels that each got.

#486 Add LlamaCpp integration
  .gitignore
  docs/cookbook/index.md
  docs/reference/models/llamacpp.md
  docs/reference/models/openai.md
  docs/reference/vllm.md
  examples/llamacpp_example.py
  mkdocs.yml
  outlines/__init__.py
  outlines/models/__init__.py
  outlines/models/llamacpp.py
  pyproject.toml
  tests/models/test_llama_cpp.py
Labels: enhancement, Open source models, llama

#520 Patch nest_asyncio in notebooks only
  outlines/base.py
Labels: bug

#519 Add roadmap blog post
  docs/blog/.authors.yml
  docs/blog/assets/4000_stars.png
  docs/blog/index.md
  docs/blog/posts/roadmap-2024.md
  mkdocs.yml
Labels: documentation

#527 Remove the AutoAWQ and AutoGPTQ integrations
  README.md
  docs/blog/posts/roadmap-2024.md
  docs/cookbook/chain_of_density.md
  docs/installation.md
  docs/welcome.md
  outlines/models/__init__.py
  outlines/models/awq.py
  outlines/models/gptq.py
  pyproject.toml
Labels: enhancement, Open source models

#517 Add CFG to vllm serving
  docs/reference/vllm.md
  outlines/serve/serve.py
  outlines/serve/vllm.py
Labels: guided generation, vLLM

#537 Revert "Add CFG to vllm serving"
  docs/reference/vllm.md
  outlines/serve/serve.py
  outlines/serve/vllm.py
Labels: bug

#564 Update pydantic install instructions for vLLM
  docs/reference/vllm.md
  pyproject.toml
Labels: documentation

#542 Add benchmark suite
  docs/community/contribute.md
  pyproject.toml
  tests/benchmark/conftest.py
  tests/benchmark/test_benchmark_json_schema.py
  tests/benchmark/test_benchmark_numba_compile.py
  tests/benchmark/test_benchmark_regex_fsm.py
Labels: enhancement, tests

#584 Bugfix: Fixes dtype issue described in #583
  outlines/generate/generator.py
Labels: bug, Open source models

#562 Add grammars module
  docs/quickstart.md
  outlines/__init__.py
  outlines/fsm/fsm.py
  outlines/grammars.py
  outlines/grammars/arithmetic.lark
  outlines/grammars/common.lark
  outlines/grammars/json.lark
  tests/test_grammars.py
Labels: grammar
