Repository dottxt-ai/outlines, pull requests merged in 2024-02, with the labels that each got.

#579 Bump vLLM version to `0.3.0`
  docs/reference/vllm.md
  outlines/serve/vllm.py
  pyproject.toml
Labels: vLLM

#570 allow generation of %ignore terminals
  outlines/fsm/fsm.py
  tests/fsm/test_fsm.py
Labels: enhancement, structured generation, grammar

#630 Make `generate.format` return the corresponding object
  outlines/fsm/types.py
  outlines/generate/format.py
  outlines/generate/json.py
  outlines/generate/regex.py
  tests/fsm/test_types.py
  tests/generate/test_integration_transfomers.py
Labels: enhancement

#642 Add top-k processor to multinomial sampler
  docs/reference/samplers.md
  outlines/samplers.py
  tests/test_samplers.py
Labels: transformers, samplers

#688 Dockerize and Add Release-Push Workflow
  .github/workflows/release_docker.yml
  .github/workflows/release_pypi.yaml
  Dockerfile
  README.md
  docs/community/contribute.md
  docs/quickstart.md
  docs/reference/vllm.md
Labels: enhancement, vLLM

#701 Add `LlamaSequenceGenerator`
  outlines/generate/cfg.py
  outlines/generate/regex.py
  outlines/generate/text.py
  outlines/models/llamacpp.py
  tests/models/test_llama_cpp.py
Labels: bug, llama.cpp

#706 fix minor typo
  docs/welcome.md
Labels: enhancement, documentation

#708 Add developer survey link
  README.md
Labels: documentation
